# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Uploaded PDFs
backend/uploads/*
!backend/uploads/.gitkeep

# Vector database (if created)
faiss_index*
*.faiss
*.pkl

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db